
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 200px;
    width: 400px;
    left: 35%;
}
.form div{
    display: block;
    padding: 10px;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}
.font-family{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

.font-size{
    font-size:1.5em;
}

p::after{
    content:"serupa "
}